.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin: 25px 0px;
}

.SingUp {
  margin: 0px auto;
  background-color: var(--yellow);
  display: block;
}
