.container {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--gray);
}
.top {
  display: flex;
  width: 100%;
  gap: 30px;
}
.top > div {
  width: 100%;
}

.add {
  color: var(--dark-blue);
  font-size: 1.2rem;
  width: fit-content;
  padding: 10px 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.add:hover {
  cursor: pointer;
  background-color: #12164252;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
