:root {
  --yellow: #ffbf00;
  --dark-blue: #121642;
  --gray: rgb(204, 204, 204);
}

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: PTSansRegular, Arial, Helvetica, sans-serif;
}

.capital {
  text-transform: uppercase;
}

.hover:hover {
  cursor: pointer;
}

.svg {
  width: 2.1rem;
  padding: 2px;
}

.input {
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 9%);
  height: 45px;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  background-color: #fff;
  font-size: 16px;
  color: black;
  border-width: 1px 1px 1px 1px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  padding: 8px 15px;
  box-sizing: border-box;
}

.input:focus,
.input:hover {
  border: 1px solid #65bc7b;
}

.input:disabled {
  color: #9ea0a4;
}

.input::placeholder {
  color: #9ea0a4;
}

.input:disabled:hover {
  cursor: not-allowed;
}

.input:disabled:hover,
.input:disabled:focus {
  border-color: red;
}

.button {
  padding: 17px 50px;
  line-height: 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 8px 3px hsl(0deg 0% 0% / 9%);
  filter: brightness(95%);
}

.container {
  min-height: fit-content;
  box-sizing: border-box;
  width: 70%;
  background-position: left top;
  background-repeat: no-repeat;
  /* -webkit-background-size: cover; */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fafafa;
  border-width: 1px 1px 1px 1px;
  border-color: rgb(162 163 173);
  border-style: solid;
  box-shadow: 8px 8px 0px 0px #eaeaea;
  padding: 10px 20px;
}

.button:disabled {
  cursor: wait;
}
